 {% extends 'layout.html.twig' %}

{% block content %}
    <h1>Quiz {{ theme.name }}</h1>

     <form class='form' method="POST" action="" >
    <ul>
   
{% for question in questions %}
    <li>{{ question.title }}</li>

    <ul>
        {% for answer in question.answers %}
            <li>
                <label>
                    <input type="radio" class="radio" name="{{ question.id }}" value="{{ answer.id }}">
                    <div class="answer-option">{{ answer.title }}</div>
                </label>
            </li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>

{% else %}
    <li>No questions to display</li>
{% endfor %}
    </ul>
    
    <a href="/">Accueil</a>
{% endblock %}