 {% extends 'layout.html.twig' %}

{% block content %}
{# {{app.session.all()}} #}
<div class='formContainer'>
    <h1>Quiz {{ theme.name }} </h1>

    {% if page == 10 %}
    <a
            {# class = "btn btn-outline {{ session['question-' ~ question.id] and answer.id == session['question-' ~ question.id] ? 'btn-primary' : 'btn-secondary' }}" #}
            class = "align-self-center btn btn-secondary w-75"
            href="/quiz/result"
        >Montre mes résultats, allez !</a>
        
    
    {% else %}
     <form class='form' method="POST" action="/quiz/result" >
    <ul>
   
 
{# {% for question in session.questions %} #}
    
        <li class="mt-3 text-center mb-2" id="question-{{ session.questions[page].id }}">{{session.questions[page].title}}
    
    {% if session.useJocker50 == false %}
        <br><a class="btn btn-secondary" href="/themes?id={{ theme.id }}&b50=1&idq={{ session.questions[page].id }}">
            <i class="fas fa-wand-sparkles"></i> 50/50
        </a>
        
    {% endif %}</li>
        {# <a class="btn btn-secondary" href="/themes?id={{ theme.id }}&b50=0&idq={{question.id}}"> #}
            {# <i class="fas fa-wand-sparkles"></i> indice #}
        {# </a> #}

    <div class="container justify-content-start flex-grow-1 mt-4 text-center">
        <div class="row mx-auto">
        {% for answer in session.questions[page].answers %}
        <div class="col-3">
        <a
            {# class = "btn btn-outline {{ session['question-' ~ question.id] and answer.id == session['question-' ~ question.id] ? 'btn-primary' : 'btn-secondary' }}" #}
            class = "align-self-center btn btn-secondary w-75"
            href="/themes?id={{theme.id }}&b50=0&idq={{session.questions[page].id}}&aid={{answer.id}}"
        >
        {{ answer.title }} 
        </a>
        </div>
        
            {# <input type="radio" class="btn-check" name="{{ question.id }}" id="{{ answer.id }}" value="{{ answer.id }}" autocomplete="off" required> #}
            {# <label class="btn btn-outline-secondary btn-secondary" for="{{ answer.id }}">{{ answer.title }}</label> #}
        {# {% else %}
            <p>Nothing to display.</p>#}
        {% endfor %} 
        </div>
        {% endif %}
    </div>


{# {% else %}
    <li>No questions to display</li>
{% endfor %} #}
    </ul>
    <div>
        {# <button type="submit" class="btn btn-primary" name="submit">J'envoie</button> #}
    </div>
    </form>
    </div>
    
    
    
{% endblock %}