 {% extends 'layout.html.twig' %}

{% block content %}
<div class='formContainer'>
    <h1>Quiz {{ theme.name }}</h1>
     <form class='form' method="POST" action="/quiz/result" >
    <ul>
   
{% for question in questions %}
    <li class="mt-3">{{ question.title }}</li>

    <div class="btn-group">
        {% for answer in question.answers %}
            <input type="radio" class="btn-check" name="{{ question.id }}" id="{{ answer.id }}" value="{{ answer.id }}" autocomplete="off">
            <label class="btn btn-outline-secondary btn-secondary" for="{{ answer.id }}">{{ answer.title }}</label>
        {% else %}
            <p>Nothing to display.</p>
        {% endfor %}
    </div>

{% else %}
    <li>No questions to display</li>
{% endfor %}
    </ul>
    <div>
        <button type="submit" class="btn btn-primary" name="submit">J'envoie</button>
    </div>
    </form>
    </div>
    
    {{ app.request.parameter.get('answer.id') }}
    
    <a href="/">Accueil</a>
{% endblock %}