 {% extends 'layout.html.twig' %}

{% block content %}

<div class='formContainer'>
    <h1>Quiz {{ theme.name }}</h1>

     <form class='form' method="POST" action="/quiz/result" >
    <ul>
   
{% for question in questions %}
    <li>{{ question.title }}</li>
     {% block javascript %}
            <script type="text/javascript">
                function cacherBouton(){
                document.getElementById("boutonACacher").style.display = "none";
                }
            </script>
    {% endblock %}
    {% if b50 != 1 %}
        <button  >
            <a href="/themes?id={{ theme.id }}&b50=1&idq50={{question.id}}" class="boutonACacher" onclick ="cacherBouton()" >{{ theme.name }}jocker 50/50</a>
        </button>
    {% endif %}
    
        <ul>
            {% for answer in question.answers %}
             <li>
                    <label>
                      <input type="radio" class="radio" name="{{ question.id }}" value="{{ answer.id }}">
                     <div class="answer-option">{{ answer.title }}</div>
                     </label>
            </li>
            {% else %}
                 <li>Nothing to display</li>
             {% endfor %}
        </ul>


{% else %}
    <li>No questions to display</li>
{% endfor %}
    </ul>
    <div>
        <button type="submit" class="btn btn-primary" name="submit">J'envoie</button>
    </div>
    </form>
    </div>
    
    
    
    <a href="/">Accueil</a>
{% endblock %}