{% extends 'layout.html.twig' %}

{% block content %}
<div class='formContainer'>
    <h1>Résultats du quiz {{ theme.name }}</h1>
    <p>Votre score est de : {{ score }} sur {{ questions|length }}</p>

{# test #2 récupère les questions + réponses 
+ réponses récupérées en post #}

{% for question in questions %}
    <h2>{{ question.title }}</h2>
    <ul>
        {% for answer in question.answers %}
            {% if answer.id in reponses[question.id] %}
                {% if answer.isCorrect %}
                    <li class="correct">{{ answer.title }}</li>
                {% else %}
                    <li class="incorrect_selected">{{ answer.title }}</li>
                    {% for correct_answer in question.answers %}
                        {% if answer.isCorrect %}
                            <li class="correct_selected">{{ correct_answer.title }}</li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% else %}
                <li>{{ answer.title }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endfor %}    

    <a href="/">Accueil</a>
</div>
{% endblock %}
