{% extends 'layout.html.twig' %}

{% block content %}
    <div class='formContainer'>
        <h1>Résultats du quiz {{ theme.name }}</h1>
        <p>Votre score est de : {{ score }} sur {{ questions|length }}</p>

        {# test #2 récupère les questions et réponses 
        + réponses utilisateur #}

        <ul>
        {% for question in questions %}
            <li class="mt-3">{{ question.title }}</li>
            
            <div class="btn-group results">
                {% for answer in question.answers %}
                    {% if answer.isCorrect %}
                        {% if answer.id in reponses[question.id] %}
                            <label class="btn btn-outline-secondary btn-secondary correct">{{ answer.title }}</label>
                        {% else %}
                            <label class="btn btn-outline-secondary btn-secondary correct">{{ answer.title }}</label>
                        {% endif %}
                    {% elseif answer.id in reponses[question.id] %}
                        <label class="btn btn-outline-secondary btn-secondary incorrect_selected">{{ answer.title }}</label>
                    {% else %}
                        <label class="btn btn-outline-secondary btn-secondary false-answer">{{ answer.title }}</label>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        </ul>

        <a class="btn btn-primary btn-lg" href="/">Accueil</a>
    </div>
{% endblock %}

