{% extends 'layout.html.twig' %}

{% block content %}
<div class='formContainer'>
    <h1>Résultats du quiz {{ theme.name }}</h1>
    {# on enleve 1 à length car POST recupere tous les valeurs dont le submit#}
    <p>Votre score est de : {{ score }} sur {{ questions|length -1 }}</p>

    <p>{{dump(questions)}}</p>

    {% for question in questions %}
        {{ question}}
        {#<h2>{{ question.title }}</h2>#}
        {# 
        <ul>
        {% for answer in question.answers %}
            {% if answer.isCorrect %}
                <li class="correct">{{ answer.title }}</li>
            {% endif %}
        {% endfor %}
        </ul>
        #}
    {% endfor %}

    <a href="/">Accueil</a>
</div>
{% endblock %}
